<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>@ViewBag.Title - Trang chủ</title>
    
    <link href="/Assets/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Assets/Site.css" rel="stylesheet" />
    <style>


        /*css for customer List*/
        /*.trash { color:rgb(209, 91, 71); }
        .flag { color:rgb(248, 148, 6); }
        .panel-body { padding:0px; }
        .panel-footer .pagination { margin: 0; }
        .panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
        .panel-body .radio, .checkbox { display:inline-block;margin:10px; }
        .panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
        .list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
        .list-group { margin-bottom:0px; }*/


        /*css of login form*/
        body {
            padding-top: 100px;
        }
        /*Contact sectiom*/
        #btnLogOut{
            margin-left: 5px;
            margin-top:5px;
        }

        #userName{
            margin-top:10px;
            color: white;
        }
        .content-header {
            font-family: 'Oleo Script', cursive;
            color: #fcc500;
            font-size: 45px;
        }

        .section-content {
            text-align: center;
        }

        #contact {
            font-family: 'Teko', sans-serif;
            padding-top: 60px;
            width: 80%;
            width: 80vw;
            height: 550px;
            background: #3a6186; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #3a6186, #89253e); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: #fff;
        }

        .contact-section {
            padding-top: 40px;
        }

            .contact-section .col-md-6 {
                width: 50%;
            }

        .form-line {
            border-right: 1px solid #B29999;
        }

        .form-group {
            margin-top: 10px;
        }

        label {
            font-size: 1.3em;
            line-height: 1em;
            font-weight: normal;
        }

        .form-control {
            font-size: 1.3em;
            color: #080808;
        }

        textarea.form-control {
            height: 135px;
            /* margin-top: px;*/
        }

        .submit {
            font-size: 1.1em;
            float: right;
            width: 150px;
            background-color: transparent;
            color: #fff;
        }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GrabOnline", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                   

                </ul>
                <div class="pull-right " id="logOutBlock">
                    <span id="userName">Xin chào <span id="adminName"></span></span>
                    <button id="btnLogOut"  class="btn btn-primary">Đăng xuất</button>
                </div>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ứng dụng đặt xe online</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <script src="/Assets/jquery-3.1.1.min.js"></script>
    <script src="/Assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/Assets/bootbox.min.js"></script>
    <script src="/Assets/vue-2.5.3.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
    <script>

        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBPRUwT-TI81VkXmC_MReaj8msT-8NTxEY",
            authDomain: "doangiuakiapp1.firebaseapp.com",
            databaseURL: "https://doangiuakiapp1.firebaseio.com",
            projectId: "doangiuakiapp1",
            storageBucket: "doangiuakiapp1.appspot.com",
            messagingSenderId: "208748898412"
        };
        firebase.initializeApp(config);
    </script>

    <script src="/Assets/scripts/main.js"></script>
    <script src="/Assets/scripts/loginScript.js"></script>
    
</body>
</html>